# Activate 
## Activate

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
import tensorflow as tf

In [3]:
from tensorflow.keras import layers
from tensorflow.keras.models import Model
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.layers import Activation, BatchNormalization, Input, Embedding, Dot, Dense, Flatten
from tensorflow.keras.callbacks import ModelCheckpoint, LearningRateScheduler, TensorBoard, EarlyStopping

In [7]:
from wordcloud import WordCloud
%matplotlib inline

In [8]:
import os

In [9]:
INPUT_DIR = os.path.join("..","artifacts","raw")

In [10]:
print(INPUT_DIR)

../artifacts/raw

In [17]:
raring_df = pd.read_csv(INPUT_DIR+"/animelist-animelist.csv",low_memory=True, usecols=["user_id","anime_id","rating"])

In [18]:
raring_df.head()

   user_id  anime_id  rating
0        0        67       9
1        0      6702       7
2        0       242      10
3        0      4898       0
4        0        21      10

In [19]:
len(raring_df)

1048575

# DATA Processing

In [22]:
n_rating = raring_df["user_id"].value_counts()

In [23]:
n_rating

user_id
781     3932
890     3812
3021    3102
1397    3072
1469    2916
        ...
233        1
203        1
2899       1
106        1
2841       1
Name: count, Length: 3292, dtype: int64

In [39]:
rating_df = raring_df[raring_df["user_id"].isin(n_rating[n_rating>=400].index)].copy()

In [40]:
len(rating_df)

666308

In [41]:
min_rating = min(rating_df["rating"])

In [42]:
min_rating

0

In [43]:
max_rating = max(rating_df["rating"])

In [44]:
max_rating

10

In [45]:
avg_rating = np.mean(rating_df["rating"])

In [46]:
avg_rating

np.float64(3.9873331852536666)

In [47]:
rating_df["rating"]

213         0
214        10
215         0
216         0
217         0
           ..
1048504     0
1048505     0
1048506     0
1048507     0
1048508     0
Name: rating, Length: 666308, dtype: int64

In [48]:
rating_df["rating"].apply(lambda x:(x-min_rating)/(max_rating- min_rating)).values.astype(np.float64)

array([0., 1., 0., ..., 0., 0., 0.], shape=(666308,))

In [49]:
rating_df["rating"].value_counts()

rating
0     302501
8      89013
7      85960
9      55614
6      46720
10     35826
5      25721
4      11700
3       5815
1       3864
2       3574
Name: count, dtype: int64

In [56]:
m_rating_df = pd.read_csv(INPUT_DIR+"/animelist-animelist.csv",low_memory=True, usecols=["user_id","anime_id","rating"])

In [57]:
m_rating_df

         user_id  anime_id  rating
0              0        67       9
1              0      6702       7
2              0       242      10
3              0      4898       0
4              0        21      10
...          ...       ...     ...
1048570     3579     22297       7
1048571     3579     28701       7
1048572     3579     27821       6
1048573     3579     10087       6
1048574     3579     11741       7

[1048575 rows x 3 columns]

In [61]:
len(m_rating_df)

1048575

In [75]:
m_ratings = rating_df["rating"].value_counts()

In [76]:
m_ratings

rating
0     302501
8      89013
7      85960
9      55614
6      46720
10     35826
5      25721
4      11700
3       5815
1       3864
2       3574
Name: count, dtype: int64

In [77]:
m_rating_df = m_rating_df[m_rating_df["rating"].isin(m_ratings[rating>=6].index)].copy()

NameError: name 'rating' is not defined